* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff ;
}

.nv {
    padding: 1% 1%;
}

#navbarSupportedContent ul li {
    padding:0 18px;
}

#navbarSupportedContent ul li .nav-link {
    font-size: 1.25rem;
    color: green;
    font-family: 'Montserrat-Light';
}

.bt {
  background: #069656;
  background-image: linear-gradient(to bottom, #069656, #2bb868);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
  text-align: center;
}

.buttons, .show-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-table {
  margin-bottom: 30px;
}

.bt:hover {
  background: #3cfa68;
  background-image: -webkit-linear-gradient(top, #069656, #34d976);
  background-image: -moz-linear-gradient(top, #069656, #34d976);
  background-image: -ms-linear-gradient(top, #069656, #34d976);
  background-image: -o-linear-gradient(top, #069656, #34d976);
  background-image: linear-gradient(to bottom, #069656, #34d976);
  text-decoration: none;
  color: #ffffff
}

.bt, .bt:active, .bt:focus, .bt:visited {
  outline: none;
}

.bt-left {
  margin-left: 5%;
}

.chat p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 2%;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    color: #069656;
    text-align:center;
    margin-top: 15px;
}
h3 {
    color: #069656;
    text-align:center;
    margin-top: 15px;
}
.form-select, .form-control {
    text-align:center;
}
.footer {
    text-align:center;
}
.page_1, #frame-container {
    display:flex;
    justify-content:center;
    align-items:center;
}
.page_2 {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.page_2 a {
    font-size: 1.2vw;
    font-weight: 600;
    text-align: left;
    line-height: 1rem;
    color: #0077d5;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    margin-bottom: 30px;
}
.page_2 a:hover {
    text-decoration: underline;
    opacity: 0.7;
    font-style: oblique;
}

.marquee {
    height: 60px;
    width: 100%;
    padding: 20px 0;
    background-color: #069656;
    margin: 20px 0;

    overflow: hidden;
    position: relative;
}
.marquee .trend {
    color: white;

    display: flex;

    position: absolute;
    overflow: hidden;

    animation: 60s linear 0s infinite normal none running marquee;
}
.marquee .trend span {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}

@keyframes marquee {
    0% { left: 100vw; }
    100% { left: -110vw; }
}

.headertekst {
    text-align:center;
}
.navigation {
	text-align:center;
	padding-bottom: 5%;
}

.navigation a {
    font-size: 24px;
}

.footer {
    padding: 5px 0;
    margin-bottom: 10px;
}

.footer span {
    font-weight: bold;
    text-decoration: underline;
}

.footer span:hover {
   cursor: pointer;
   font-size: 20px;
   color: #069656;
   text-decoration: none
}

@media screen and (max-width: 375px) {
    @keyframes marquee {
        0% { left: 100vw; }
        100% { left: -400vw; }
    }
}

@media screen and (min-width: 375.05px) and (max-width: 480px) {
    @keyframes marquee {
        0% { left: 100vw; }
        100% { left: -345vw; }
    }
}

@media screen and (min-width: 480.05px) and (max-width: 650px) {
    @keyframes marquee {
        0% { left: 100vw; }
        100% { left: -260vw; }
    }
}

@media screen and (min-width: 650.05px) and (max-width: 768px) {
    @keyframes marquee {
        0% { left: 100vw; }
        100% { left: -200vw; }
    }
}

@media screen and (min-width: 768.05px) and (max-width: 1080px) {
    @keyframes marquee {
        0% { left: 100vw; }
        100% { left: -170vw; }
    }
}